---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

<div class="related">
  {% comment %}
  <h2>Related Posts</h2>
  {% endcomment %}

  <div class="prev">
    {% if page.previous %}
      <h2>Previous post</h2>

      <article class="brief">
      <header>
        <h2><a href="{{ page.previous.url }}">{{ page.previous.title }}</a></h2>
      </header>
      <section>
        {{ page.previous.excerpt | markdownify }}
      </section>
    </article>
  {% endif %}
  </div>

  <div class="next">
    {% if page.next %}
      <h2>Next post</h2>

      <article class="brief">
        <header>
          <h2><a href="{{ page.next.url }}">{{ page.next.title }}</a></h2>
        </header>
        <section>
          {{ page.next.excerpt | markdownify }}
        </section>
      </article>
    {% endif %}
  </div>
</div>
